html {
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.countryLabel {
  font-weight: bolder;
  font-size: 1.5em;
  color: white;
}

.countryInput {
  width: 100%;
  max-width: 20%;
  margin-bottom: 0.3%;
}

.errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

.countrySubmit {
  width: 5%;
  height: 25px;
  background-color: royalblue;
  border: none;
  border-radius: 8%;
  color: white;
  font-weight: bolder;
}

.countrySubmit:hover {
  background-color: rgb(109, 140, 235);
}

.switchUnit {
  color: white;
  margin-left: 10px;
  font-size: 120%;
  cursor: pointer;
}

.switchUnit:hover {
  color: rgb(109, 172, 117);
}

.currentWeather {
  display: flex;
  justify-content: center;
  font-size: 150%;
  color: white;
  gap: 30px;
}

.currentWeatherInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 10px;
  margin: 0;
  border-bottom: solid black;
}

#currentWeatherCityName {
  margin: 0;
}

#currentWeatherTime {
  font-size: 80%;
  margin-top: -14%;
}

.currentWeatherIconAndDegree {
  display: flex;
}

.currentWeatherAlertInformation {
  align-self: center;
  font-size: 80%;
  color: white;
  font-weight: bolder;
  max-width: 30%;
  overflow-y: auto;
  max-height: 200px;
}

#currentWeatherDetails {
  font-size: 70%;
  width: 100%;
  font-weight: 900;
}

.currentWeatherFirstDetail {
  display: flex;
  justify-content: space-between;
}

.currentWeatherSecondDetail {
  display: flex;
  justify-content: space-between;
}

.currentWeatherHourlyContainer {
  display: flex;
  background-color: rgba(5, 1, 1, 0.247);
  font-weight: bolder;
  font-size: smaller;
  color: white;
  overflow-x: scroll;
}

.hourlyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
